<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    
</head>
<body>

    <div id="container">
        <div id="login-container">
            <form action="">
                
                <h1>Welcome Back</h1>
                
                <div class="input-label-container">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" placeholder="example.email@gmail.com">
                </div>
                
                
                <div class="input-label-container">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" placeholder="Enter at least 8 character">
                </div>

                <div id="remember-forgot-container">
                    <div id="checkbox-label-container">
                        <input type="checkbox">
                        <label>Remember Me</label>
                    </div>
                    <label for="" id="forgot-pass">Forgot Password?</label>
                </div>

                <button>Log in</button>
                
                <p>Not a member yet? <span>Register now</span></p>
            
            </form>
        </div>
    
        <div id="background-container">
            <div id="img-figure">
                
            </div>
        </div>
    </div>

</body>
</html>