<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
    <div id="container">
        <div id="login-container">
            <form action="/login" method="post">
                <h1>Welcome Back</h1>
                <div class="input-label-container">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="username" placeholder="example.email@gmail.com" required>
                </div>
                <div class="input-label-container">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter at least 8 characters" required>
                </div>
                <div id="remember-forgot-container">
                    <div id="checkbox-label-container">
                        <input type="checkbox" name="remember-me">
                        <label>Remember Me</label>
                    </div>
                    <a href="#" id="forgot-pass">Forgot Password?</a>
                </div>
                <button type="submit">Log in</button>
            </form>

            <form action="/register" method="get" class="redirect-to-register">
                <p>Not a member yet? <span><a th:href="@{/register}"> Register now</a></span></p>
            </form>

        </div>
    
        <div id="background-container">
            <div id="img-figure">
                
            </div>
        </div>
    </div>

</body>
</html>