<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/productsPage.css">
    <link rel="stylesheet" th:href="@{/css/productsPage.css}" />
    <script src="/js/cart.js" defer></script>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/logo.png" alt="Shop Logo">
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/products}">Products</a></li>
            <li><a th:href="@{/cart}">Cart</a></li>
            <li sec:authorize="hasRole('ROLE_CLIENT')" ><a th:href="@{/userorders}">Order history</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/orders}">Orders history</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/productsList}">Products list</a></li>
            <li th:if="${session.isLoggedIn == null}">
                <a th:href="@{/login}">
                    <button id="button-login">Log In</button>
                </a>
            </li>
            <li th:if="${session.isLoggedIn == null}">
                <a th:href="@{/register}">
                    <button id="button-signup">Sign Up</button>
                </a>
            </li>
            <li th:if="${session.isLoggedIn != null}">
                <a th:href="@{/logout}">
                    <button id="button-logout">Log Out</button>
                </a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <section class="services">
        <h2>Our Products</h2>
        <p>Find the best deals on top electronics</p>
        <div class="service-items">
            <div th:each="product : ${products}" class="service-item">
                <div class="service-content">
                    <div class="service-image">
                        <img src="/img/sm.png" alt="Smartphone">
                    </div>
                    <div class="service-info">
                        <h3 th:text="${product.name}">Product Name</h3>
                        <p th:text="${product.description}" class="product-description">Product Description</p>
                        <p th:text="'$' + ${product.price}" class="product-price">Product Price</p>
                        <button class="add-to-cart-btn"
                                th:text="'Add to Cart'"
                                th:attr="data-product-id=${product.id}, data-product-name=${product.name}, data-product-description=${product.description} ,data-product-price=${product.price}">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
