<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" th:href="@{/css/register.css}" />
</head>
<body>

<div id="container">
    <div id="login-container">
        <form action="/register" method="post">

            <h1>Create an account</h1>

            <div id="name-surname-container">
                <div class="input-label-container">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" th:field="${user.name}" placeholder="John">
                </div>

                <div class="input-label-container">
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" id="surname" th:field="${user.surname}" placeholder="Smith">
                </div>
            </div>

            <div class="input-label-container">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" th:field="${user.email}" placeholder="example.email@gmail.com">
            </div>

            <div class="input-label-container">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" th:field="${user.password}" placeholder="Enter at least 8 characters">
            </div>

            <button type="submit">Register</button>

        </form>

        <form action="/login" method="get" class="redirect-to-login">
            <p>Already have an account? <span><a th:href="@{/login}">Sign in</a></span></p>
        </form>

    </div>

    <div id="background-container">
        <div id="img-figure">
        </div>
    </div>
</div>

</body>
</html>
