<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    
</head>
<body>

    <div id="container">
        <div id="login-container">
            <form action="">
                
                <h1>Create an account</h1>
                
                <div id="name-surname-container">
                    <div class="input-label-container">
                        <label for="Name">Name</label>
                        <input type="text" name="Name" placeholder="John">
                    </div>

                    <div class="input-label-container">
                        <label for="Surname">Surname</label>
                        <input type="text" name="Surname" placeholder="Smith">
                    </div>
                </div>


                <div class="input-label-container">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" placeholder="example.email@gmail.com">
                </div>
                
                
                <div class="input-label-container">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" placeholder="Enter at least 8 character">
                </div>

                <button>Log in</button>     
                
                <p>Already have an account? <span>Sign in</span></p>

            </form>
        </div>
    
        <div id="background-container">
            <div id="img-figure">
                
            </div>
        </div>
    </div>

</body>
</html>