body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo img {
    width: 6rem;
    background: transparent;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

nav ul li:nth-child(3) {
    margin: 0 2rem 0 0;
}

#button-login, #button-signup, #button-logout {
    padding: 12px 36px;
    border-radius: 24px;
    border: none;
    outline: none;
    cursor: pointer;
}

#button-login, #button-logout {
    background: #EA4B60;
    color: white;
}

#button-signup {
    background-color: transparent;
    border: 1px solid #EA4B60;
    color: #EA4B60;
}

#button-login:hover, #button-logout:hover {
    background: #E01833;
}

#button-signup:hover {
    border-color: #b00013;
    color: #b00013;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.cart-list {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.product:last-child {
    border-bottom: none;
}

.product p {
    margin: 0;
    padding: 0 10px;
}

.product-name {
    font-weight: bold;
    flex: 2;
}

.product-description {
    flex: 3;
}

.product-price {
    flex: 1;
    text-align: right;
}

.product-quantity {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-button {
    background-color: lightgray;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 5px;
}

.quantity-button:hover {
    background-color: gray;
}

.remove-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.remove-button:hover {
    background-color: #c0392b;
}

.total-price {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

/* Container to center input and button */
.input-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="text"], input[type="hidden"] {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    max-width: 500px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #555;
}
